.contact-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 18vh;

  &--left {
    display: flex;
    flex-direction: column;

    color: whitesmoke;
  }
  
  &--right {
    display: flex;
    justify-content: center;
    img {
      width: 350px;
      border-radius: 300px;
      border: solid orange 5px;
      border-style: inset;
      margin: 70px;
      padding: 20px;
    }
  }
}


.contact-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  padding: 10px;
  a {
    font-size: 1em;
    padding-left: 20px;
    color: orange;
  }
}
