.experience-div {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content:center;
  color: whitesmoke;
  padding-top: 50px;
  min-height: 100%;
  

  .exp-card {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-decoration: underline;
    }
  }
}
