nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;

    background-color: #253237;
}

a{
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: orange;
}

a:active{
    color: whitesmoke;
}